<div class="auth" [ngSwitch]="router.url">
    <div class="credentials" *ngSwitchCase="'/login'">
        <router-outlet></router-outlet>
    </div>
    <div *ngSwitchCase="'/register'">
        <router-outlet></router-outlet>
    </div>
    <div class="wrapper" *ngSwitchDefault>
        <app-header></app-header>
        <div class="main-wrapper">
            <app-sidebar></app-sidebar>
            <div class="main-content">      
                    <router-outlet></router-outlet>
            </div>
        </div>
        <footer class="footer">
            Dashmin © 2020 created by <a href="#">  Nikhil Pradeep</a>
         </footer>
    </div>
</div>