<!-- Main Wrapper -->
    <!-- Sidebar -->
    <div class="row">
    <div class="d-flex flex-column flex-md-row">
        <div class="mb-4 mb-md-0">
            <!-- Tasks Aside -->
            <nav class="tasks_aside">
                <!-- Aside Header -->
                <div class="aside-header pr-0">
                    <div class="aside-header-btn d-flex justify-content-end position-relative">
                        <h4 class="aside-btn-text c1 d-xl-flex align-items-center">Compose New</h4>
                        <a routerLink="/email/compose" class="btn-circle style--two">
                            <img src="../static/img/svg/plus_white.svg" alt="" class="svg">
                        </a>
                    </div>
                </div>
                <!-- End Aside Header -->

                <!-- Aside Body -->
                <div class="aside-body">
                    <ul class="nav flex-column">
                        <li class="active"><a href="#">Inbox <span
                                    class="c3 bold font-14 ml-1 float-right">(5)</span></a></li>
                        <li><a href="#">Sent</a></li>
                        <li><a href="#">Draft <span class="c3 bold font-14 ml-1 float-right">(3)</span></a></li>
                        <li><a href="#">Starred</a></li>
                        <li><a href="#">Snoozed</a></li>

                        <li class="nav-category less bold font-14 mt-4" data-toggle="collapse"
                            data-target="less-dropdown">Less</li>
                    </ul>
                    <ul id="less-dropdown" class="list-unstyled bg-white">
                        <li class="lavel"><a href="#">Important</a></li>
                        <li class="lavel"><a href="#">Scheduled</a></li>
                        <li class="lavel"><a href="#">Trash</a></li>
                        <li class="lavel"><a href="#">Spam</a></li>

                        <li class="nav-category bold font-14 mt-4">Lavels</li>
                        <li class="lavel"><a href="#">
                                <span class="tag_color products"></span>
                                Products</a>
                        </li>
                        <li class="lavel"><a href="#">
                                <span class="tag_color works"></span>
                                Works</a>
                        </li>
                        <li class="lavel"><a href="#">
                                <span class="tag_color family"></span>
                                Family</a>
                        </li>
                        <li class="lavel"><a href="#">
                                <span class="tag_color friends"></span>
                                Friends</a>
                        </li>
                        <li class="lavel"><a href="#">
                                <span class="tag_color design"></span>
                                Design </a>
                        </li>
                        <li class="lavel"><a href="#">
                                <span class="tag_color others"></span>
                                Others </a>
                        </li>
                    </ul>
                </div>
                <!-- End Aside Body -->
            </nav>
            <!-- End Tasks Aside -->
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Card -->
                    <div class="card bg-transparent">
                        <div class="card-body bg-white mb-30">
                            <!-- Mail Header -->
                            <div class="mail-header d-flex align-items-sm-center media flex-column flex-sm-row">
                                <div class="mail-header-left d-flex align-items-center position-relative">
                                    <!-- Custom Checkbox -->
                                    <label class="custom-checkbox style--two">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <!-- End Custom Checkbox -->

                                    <!-- Dropdown Button -->
                                    <div class="dropdown-button">
                                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                            <div class="menu-icon style--two justify-content-center mr-0">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a href="#">Daily</a>
                                            <a href="#">Sort By</a>
                                            <a href="#">Monthly</a>
                                        </div>
                                    </div>
                                    <!-- End Dropdown Button -->

                                    <!-- Starred -->
                                    <div class="star">
                                        <a href="#"><img src="../static/img/svg/star.svg" alt="" class="svg"></a>
                                    </div>
                                    <!-- End Starred -->

                                    <!-- Unread Mail -->
                                    <div class="unread">
                                        <a href="#"><img src="../static/img/svg/mail.svg" alt="" class="svg"></a>
                                    </div>
                                    <!-- End Unread Mail -->

                                    <!-- Tag Mail -->
                                    <div class="tag_mail">
                                        <a href="#"><img src="../static/img/svg/tag.svg" alt="" class="svg"></a>
                                    </div>
                                    <!-- End Tag Mail -->

                                    <!-- Delete Mail -->
                                    <div class="delete_mail">
                                        <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                class="svg"></a>
                                    </div>
                                    <!-- End Delete Mail -->
                                </div>

                                <div
                                    class="mail-header-right d-flex align-items-center justify-content-end media-body mt-3 mt-sm-0">
                                    <!-- Search Form -->
                                    <form action="#" class="search-form">
                                        <div class="theme-input-group">
                                            <input type="text" class="theme-input-style" placeholder="Search Here">

                                            <button type="submit"><img src="../static/img/svg/search-icon.svg"
                                                    alt="" class="svg"></button>
                                        </div>
                                    </form>
                                    <!-- End Search Form -->

                                    <!-- Pagination -->
                                    <div class="pagination style--two d-flex flex-column align-items-center ml-3">
                                        <ul class="list-inline d-inline-flex align-items-center">
                                            <li><a href="#">
                                                    <img src="../static/img/svg/left-angle.svg" alt=""
                                                        class="svg">
                                                </a></li>
                                            <li><a href="#" class="current">
                                                    <img src="../static/img/svg/right-angle.svg" alt=""
                                                        class="svg">
                                                </a></li>
                                        </ul>
                                    </div>
                                    <!-- End Pagination -->
                                </div>
                            </div>
                            <!-- End Mail Header -->
                        </div>

                        <!-- Message List -->
                        <ul class="list-unstyled mail-list">
                            <!-- Message Item List -->
                            <li class="mail-list-item">
                                <div
                                    class="d-flex justify-content-between align-items-sm-center media flex-column flex-sm-row">
                                    <div class="d-flex align-items-center media-body position-relative">
                                        <!-- Custom Checkbox -->
                                        <label class="custom-checkbox style--three">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <!-- End Custom Checkbox -->

                                        <!-- Dropdown Button -->
                                        <div class="dropdown-button ml-4">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two w-14 mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#">Daily</a>
                                                <a href="#">Sort By</a>
                                                <a href="#">Monthly</a>
                                            </div>
                                        </div>
                                        <!-- End Dropdown Button -->

                                        <!-- Message Text -->
                                        <a routerLink='/email/readmail' class="d-flex align-items-center mail-text">
                                            <div class="avatar">
                                                <img src="../static/img/avatar/m5.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name mb-1">Sandra Jones</h4>
                                                <p class="msg">Why Do All Websites Look the Same? by Boris Müller</p>
                                            </div>
                                        </a>
                                        <!-- End Message Text -->
                                    </div>

                                    <div class="mail-list-item-right d-flex align-items-center">
                                        <!-- Mail Date -->
                                        <div class="mail-date bold"> 8:35am </div>
                                        <!-- End Mail Date -->

                                        <button type="button" class="status-btn work">Work</button>

                                        <!-- Starred -->
                                        <div class="star">
                                            <a href="#"><img src="../static/img/svg/star.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Starred -->

                                        <!-- Delete Mail -->
                                        <div class="delete_mail">
                                            <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Delete Mail -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Message Item List -->

                            <!-- Message Item List -->
                            <li class="mail-list-item selected">
                                <div
                                    class="d-flex justify-content-between align-items-sm-center media flex-column flex-sm-row">
                                    <div class="d-flex align-items-center media-body position-relative">
                                        <!-- Custom Checkbox -->
                                        <label class="custom-checkbox style--three">
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                        <!-- End Custom Checkbox -->

                                        <!-- Dropdown Button -->
                                        <div class="dropdown-button ml-4">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two w-14 mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#">Daily</a>
                                                <a href="#">Sort By</a>
                                                <a href="#">Monthly</a>
                                            </div>
                                        </div>
                                        <!-- End Dropdown Button -->

                                        <!-- Message Text -->
                                        <a href="read.html" class="d-flex align-items-center mail-text">
                                            <div class="avatar">
                                                <img src="../static/img/avatar/m6.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name mb-1">Niko Jacobs</h4>
                                                <p class="msg">Why Do All Websites Look the Same? by Boris Müller</p>
                                            </div>
                                        </a>
                                        <!-- End Message Text -->
                                    </div>

                                    <div class="mail-list-item-right d-flex align-items-center">
                                        <!-- Mail Date -->
                                        <div class="mail-date bold"> 8:35am </div>
                                        <!-- End Mail Date -->

                                        <button type="button" class="status-btn work">Work</button>

                                        <!-- Starred -->
                                        <div class="star">
                                            <a href="#"><img src="../static/img/svg/star2.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Starred -->

                                        <!-- Delete Mail -->
                                        <div class="delete_mail">
                                            <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Delete Mail -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Message Item List -->

                            <!-- Message Item List -->
                            <li class="mail-list-item">
                                <div
                                    class="d-flex justify-content-between align-items-sm-center media flex-column flex-sm-row">
                                    <div class="d-flex align-items-center media-body position-relative">
                                        <!-- Custom Checkbox -->
                                        <label class="custom-checkbox style--three">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <!-- End Custom Checkbox -->

                                        <!-- Dropdown Button -->
                                        <div class="dropdown-button ml-4">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two w-14 mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#">Daily</a>
                                                <a href="#">Sort By</a>
                                                <a href="#">Monthly</a>
                                            </div>
                                        </div>
                                        <!-- End Dropdown Button -->

                                        <!-- Message Text -->
                                        <a href="read.html" class="d-flex align-items-center mail-text">
                                            <div class="avatar">
                                                <img src="../static/img/avatar/m7.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name mb-1">Frazer Moyer</h4>
                                                <p class="msg">Why Do All Websites Look the Same? by Boris Müller</p>
                                            </div>
                                        </a>
                                        <!-- End Message Text -->
                                    </div>

                                    <div class="mail-list-item-right d-flex align-items-center">
                                        <!-- Mail Date -->
                                        <div class="mail-date bold"> 7:17am </div>
                                        <!-- End Mail Date -->

                                        <button type="button" class="status-btn friend">Friends</button>

                                        <!-- Starred -->
                                        <div class="star">
                                            <a href="#"><img src="../static/img/svg/star2.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Starred -->

                                        <!-- Delete Mail -->
                                        <div class="delete_mail">
                                            <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Delete Mail -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Message Item List -->

                            <!-- Message Item List -->
                            <li class="mail-list-item">
                                <div
                                    class="d-flex justify-content-between align-items-sm-center media flex-column flex-sm-row">
                                    <div class="d-flex align-items-center media-body position-relative">
                                        <!-- Custom Checkbox -->
                                        <label class="custom-checkbox style--three">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <!-- End Custom Checkbox -->

                                        <!-- Dropdown Button -->
                                        <div class="dropdown-button ml-4">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two w-14 mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#">Daily</a>
                                                <a href="#">Sort By</a>
                                                <a href="#">Monthly</a>
                                            </div>
                                        </div>
                                        <!-- End Dropdown Button -->

                                        <!-- Message Text -->
                                        <a href="read.html" class="d-flex align-items-center mail-text">
                                            <div class="avatar">
                                                <img src="../static/img/avatar/m8.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name mb-1">Mathilda Todd</h4>
                                                <p class="msg">Why Do All Websites Look the Same? by Boris Müller</p>
                                            </div>
                                        </a>
                                        <!-- End Message Text -->
                                    </div>

                                    <div class="mail-list-item-right d-flex align-items-center">
                                        <!-- Mail Date -->
                                        <div class="mail-date bold"> 26 Sep </div>
                                        <!-- End Mail Date -->

                                        <button type="button" class="status-btn family">Family</button>

                                        <!-- Starred -->
                                        <div class="star">
                                            <a href="#"><img src="../static/img/svg/star2.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Starred -->

                                        <!-- Delete Mail -->
                                        <div class="delete_mail">
                                            <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Delete Mail -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Message Item List -->

                            <!-- Message Item List -->
                            <li class="mail-list-item selected">
                                <div
                                    class="d-flex justify-content-between align-items-sm-center media flex-column flex-sm-row">
                                    <div class="d-flex align-items-center media-body position-relative">
                                        <!-- Custom Checkbox -->
                                        <label class="custom-checkbox style--three">
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                        <!-- End Custom Checkbox -->

                                        <!-- Dropdown Button -->
                                        <div class="dropdown-button ml-4">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two w-14 mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#">Daily</a>
                                                <a href="#">Sort By</a>
                                                <a href="#">Monthly</a>
                                            </div>
                                        </div>
                                        <!-- End Dropdown Button -->

                                        <!-- Message Text -->
                                        <a href="read.html" class="d-flex align-items-center mail-text">
                                            <div class="avatar">
                                                <img src="../static/img/avatar/m9.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name mb-1">Yasemin Beasley</h4>
                                                <p class="msg">Why Do All Websites Look the Same? by Boris Müller</p>
                                            </div>
                                        </a>
                                        <!-- End Message Text -->
                                    </div>

                                    <div class="mail-list-item-right d-flex align-items-center">
                                        <!-- Mail Date -->
                                        <div class="mail-date bold"> 26 Sep </div>
                                        <!-- End Mail Date -->

                                        <button type="button" class="status-btn friend">Friends</button>

                                        <!-- Starred -->
                                        <div class="star">
                                            <a href="#"><img src="../static/img/svg/star2.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Starred -->

                                        <!-- Delete Mail -->
                                        <div class="delete_mail">
                                            <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Delete Mail -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Message Item List -->

                            <!-- Message Item List -->
                            <li class="mail-list-item selected">
                                <div
                                    class="d-flex justify-content-between align-items-sm-center media flex-column flex-sm-row">
                                    <div class="d-flex align-items-center media-body position-relative">
                                        <!-- Custom Checkbox -->
                                        <label class="custom-checkbox style--three">
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                        <!-- End Custom Checkbox -->

                                        <!-- Dropdown Button -->
                                        <div class="dropdown-button ml-4">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two w-14 mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#">Daily</a>
                                                <a href="#">Sort By</a>
                                                <a href="#">Monthly</a>
                                            </div>
                                        </div>
                                        <!-- End Dropdown Button -->

                                        <!-- Message Text -->
                                        <a href="read.html" class="d-flex align-items-center mail-text">
                                            <div class="avatar">
                                                <img src="../static/img/avatar/m10.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name mb-1">Fergus Calderon</h4>
                                                <p class="msg">Why Do All Websites Look the Same? by Boris Müller</p>
                                            </div>
                                        </a>
                                        <!-- End Message Text -->
                                    </div>

                                    <div class="mail-list-item-right d-flex align-items-center">
                                        <!-- Mail Date -->
                                        <div class="mail-date bold"> 26 Sep </div>
                                        <!-- End Mail Date -->

                                        <button type="button" class="status-btn design">Design</button>

                                        <!-- Starred -->
                                        <div class="star">
                                            <a href="#"><img src="../static/img/svg/star2.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Starred -->

                                        <!-- Delete Mail -->
                                        <div class="delete_mail">
                                            <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Delete Mail -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Message Item List -->

                            <!-- Message Item List -->
                            <li class="mail-list-item">
                                <div
                                    class="d-flex justify-content-between align-items-sm-center media flex-column flex-sm-row">
                                    <div class="d-flex align-items-center media-body position-relative">
                                        <!-- Custom Checkbox -->
                                        <label class="custom-checkbox style--three">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <!-- End Custom Checkbox -->

                                        <!-- Dropdown Button -->
                                        <div class="dropdown-button ml-4">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two w-14 mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#">Daily</a>
                                                <a href="#">Sort By</a>
                                                <a href="#">Monthly</a>
                                            </div>
                                        </div>
                                        <!-- End Dropdown Button -->

                                        <!-- Message Text -->
                                        <a href="read.html" class="d-flex align-items-center mail-text">
                                            <div class="avatar">
                                                <img src="../static/img/avatar/m11.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name mb-1">Uzma Padilla</h4>
                                                <p class="msg">Why Do All Websites Look the Same? by Boris Müller</p>
                                            </div>
                                        </a>
                                        <!-- End Message Text -->
                                    </div>

                                    <div class="mail-list-item-right d-flex align-items-center">
                                        <!-- Mail Date -->
                                        <div class="mail-date bold"> 26 Sep </div>
                                        <!-- End Mail Date -->

                                        <button type="button" class="status-btn design">Design</button>

                                        <!-- Starred -->
                                        <div class="star">
                                            <a href="#"><img src="../static/img/svg/star2.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Starred -->

                                        <!-- Delete Mail -->
                                        <div class="delete_mail">
                                            <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Delete Mail -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Message Item List -->

                            <!-- Message Item List -->
                            <li class="mail-list-item">
                                <div
                                    class="d-flex justify-content-between align-items-sm-center media flex-column flex-sm-row">
                                    <div class="d-flex align-items-center media-body position-relative">
                                        <!-- Custom Checkbox -->
                                        <label class="custom-checkbox style--three">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <!-- End Custom Checkbox -->

                                        <!-- Dropdown Button -->
                                        <div class="dropdown-button ml-4">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two w-14 mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#">Daily</a>
                                                <a href="#">Sort By</a>
                                                <a href="#">Monthly</a>
                                            </div>
                                        </div>
                                        <!-- End Dropdown Button -->

                                        <!-- Message Text -->
                                        <a href="read.html" class="d-flex align-items-center mail-text">
                                            <div class="avatar">
                                                <img src="../static/img/avatar/m12.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name mb-1">Shani Flower</h4>
                                                <p class="msg">Why Do All Websites Look the Same? by Boris Müller</p>
                                            </div>
                                        </a>
                                        <!-- End Message Text -->
                                    </div>

                                    <div class="mail-list-item-right d-flex align-items-center">
                                        <!-- Mail Date -->
                                        <div class="mail-date bold"> 26 Sep </div>
                                        <!-- End Mail Date -->

                                        <button type="button" class="status-btn product">Products</button>

                                        <!-- Starred -->
                                        <div class="star">
                                            <a href="#"><img src="../static/img/svg/star2.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Starred -->

                                        <!-- Delete Mail -->
                                        <div class="delete_mail">
                                            <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Delete Mail -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Message Item List -->

                            <!-- Message Item List -->
                            <li class="mail-list-item">
                                <div
                                    class="d-flex justify-content-between align-items-sm-center media flex-column flex-sm-row">
                                    <div class="d-flex align-items-center media-body position-relative">
                                        <!-- Custom Checkbox -->
                                        <label class="custom-checkbox style--three">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <!-- End Custom Checkbox -->

                                        <!-- Dropdown Button -->
                                        <div class="dropdown-button ml-4">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two w-14 mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#">Daily</a>
                                                <a href="#">Sort By</a>
                                                <a href="#">Monthly</a>
                                            </div>
                                        </div>
                                        <!-- End Dropdown Button -->

                                        <!-- Message Text -->
                                        <a href="read.html" class="d-flex align-items-center mail-text">
                                            <div class="avatar">
                                                <img src="../static/img/avatar/m13.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name mb-1">Anderson Wilder</h4>
                                                <p class="msg">Why Do All Websites Look the Same? by Boris Müller</p>
                                            </div>
                                        </a>
                                        <!-- End Message Text -->
                                    </div>

                                    <div class="mail-list-item-right d-flex align-items-center">
                                        <!-- Mail Date -->
                                        <div class="mail-date bold"> 26 Sep </div>
                                        <!-- End Mail Date -->

                                        <button type="button" class="status-btn family">Family</button>

                                        <!-- Starred -->
                                        <div class="star">
                                            <a href="#"><img src="../static/img/svg/star2.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Starred -->

                                        <!-- Delete Mail -->
                                        <div class="delete_mail">
                                            <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Delete Mail -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Message Item List -->

                            <!-- Message Item List -->
                            <li class="mail-list-item">
                                <div
                                    class="d-flex justify-content-between align-items-sm-center media flex-column flex-sm-row">
                                    <div class="d-flex align-items-center media-body position-relative">
                                        <!-- Custom Checkbox -->
                                        <label class="custom-checkbox style--three">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <!-- End Custom Checkbox -->

                                        <!-- Dropdown Button -->
                                        <div class="dropdown-button ml-4">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two w-14 mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#">Daily</a>
                                                <a href="#">Sort By</a>
                                                <a href="#">Monthly</a>
                                            </div>
                                        </div>
                                        <!-- End Dropdown Button -->

                                        <!-- Message Text -->
                                        <a href="read.html" class="d-flex align-items-center mail-text">
                                            <div class="avatar">
                                                <img src="../static/img/avatar/m6.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name mb-1">Chandni Marsh</h4>
                                                <p class="msg">Why Do All Websites Look the Same? by Boris Müller</p>
                                            </div>
                                        </a>
                                        <!-- End Message Text -->
                                    </div>

                                    <div class="mail-list-item-right d-flex align-items-center">
                                        <!-- Mail Date -->
                                        <div class="mail-date bold"> 26 Sep </div>
                                        <!-- End Mail Date -->

                                        <button type="button" class="status-btn family">Family</button>

                                        <!-- Starred -->
                                        <div class="star">
                                            <a href="#"><img src="../static/img/svg/star2.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Starred -->

                                        <!-- Delete Mail -->
                                        <div class="delete_mail">
                                            <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Delete Mail -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Message Item List -->

                            <!-- Message Item List -->
                            <li class="mail-list-item">
                                <div
                                    class="d-flex justify-content-between align-items-sm-center media flex-column flex-sm-row">
                                    <div class="d-flex align-items-center media-body position-relative">
                                        <!-- Custom Checkbox -->
                                        <label class="custom-checkbox style--three">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <!-- End Custom Checkbox -->

                                        <!-- Dropdown Button -->
                                        <div class="dropdown-button ml-4">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two w-14 mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#">Daily</a>
                                                <a href="#">Sort By</a>
                                                <a href="#">Monthly</a>
                                            </div>
                                        </div>
                                        <!-- End Dropdown Button -->

                                        <!-- Message Text -->
                                        <a href="read.html" class="d-flex align-items-center mail-text">
                                            <div class="avatar">
                                                <img src="../static/img/avatar/m7.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name mb-1">Kellan Holland</h4>
                                                <p class="msg">Why Do All Websites Look the Same? by Boris Müller</p>
                                            </div>
                                        </a>
                                        <!-- End Message Text -->
                                    </div>

                                    <div class="mail-list-item-right d-flex align-items-center">
                                        <!-- Mail Date -->
                                        <div class="mail-date bold"> 26 Sep </div>
                                        <!-- End Mail Date -->

                                        <button type="button" class="status-btn family">Family</button>

                                        <!-- Starred -->
                                        <div class="star">
                                            <a href="#"><img src="../static/img/svg/star2.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Starred -->

                                        <!-- Delete Mail -->
                                        <div class="delete_mail">
                                            <a href="#"><img src="../static/img/svg/delete.svg" alt=""
                                                    class="svg"></a>
                                        </div>
                                        <!-- End Delete Mail -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Message Item List -->
                        </ul>
                        <!-- End Message List -->
                    </div>
                    <!-- End Card -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Content -->
</div>